.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

p {
  margin-top: 0px;
}

.bodyClass {
  background-color: #fff;
  padding: 100px;
}

.menuClass {
  background-color: #999;
  padding: 15px;
}
